.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 2.4rem;
    // position: sticky;
    // top: 0;
    // width: 100%;
}

.logo{
    margin-inline: auto;
}