.work-control-container{
    display: flex;
    justify-content: space-between;
}

.work-detail-wrapper{
    width: 100%;
    display: flex;
    column-gap: 1.2rem;
}

.work-title{
    width: 15%;
    display: flex;
    align-items: flex-start;
    height: 100%;

    p{
        font-size: var(--font-xl);
        font-weight: var(--font-bold);
        color: var(--primary-font-color-light);
    }
}

.work-detail-container{
    width: 85%;
    display: flex;
    column-gap: 1rem;
}

.work-detail-thumb{
    flex: 0 0 50rem;
    height: 50rem;
    display: flex;
    align-items: center;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    background: var(--accent-font-color);
}

.work-detail{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.detail-title{
    font-size: var(--font-xxxl);
    font-weight: var(--font-bold);
    color: var(--primary-font-color-light);
}

.detail-subtitle{
    margin-left: 6.4rem;
    font-size: var(--font-xxxl);
    font-weight: var(--font-bold);
    color: var(--secondary-font-color);
}

.detail-container{
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link{
    margin-left: 3.4rem;
    width: 8.6rem;
    height: 8.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    border: solid 1px var(--border-color);
}

.detail{
    width: 50%;
    font-size: var(--font-reguler);
    font-weight: var(--font-md);
    color: var(--primary-font-color-light);
}