.style--main{
    padding: 1.2rem 3.2rem;
    font-size: var(--font-lg);
    font-weight: var(--font-bold);
    color: var(--primary-font-color-dark);
    background: var(--btn-bg);
}

.style--border{
    width: 13.5rem;
    height: 13.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    border: 1px solid var(--border-color);
}