.container{
    display: flex;
    align-items: center;
    column-gap: 6.4rem;
}

.text-group{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.location{
    font-size: var(--font-lg);
    font-weight: var(--font-md);
    color: var(--primary-font-color-light);
}

.existence{
    font-size: var(--font-lg);
    font-weight: var(--font-thin);
    color: var(--primary-font-color-light);
}